* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #202020;
  height: 55px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #282828;
}

#logo {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}

#profile-pic {
  border-radius: 50%;
  width: 40px;
}

#side-icons {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}

#main-icons {
  display: flex;
  align-items: center;
}

.header-icon {
  cursor: pointer;
  width: 30px;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0;
}

#input-area {
  width: 80%;
  background-color: #121212;
  border: 0.5px solid #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#input-area input {
  background-color: #121212;
  width: 90%;
  border: none;
  height: 30px;
  color: #cecece;
  padding-left: 10px;
}

#input-area img {
  width: 10%;
}

#input-area input::placeholder {
  font-size: 20px;
}

#keyboard-icon,
#search-icon,
#mic-icon {
  width: 10%;
  opacity: 0.5;
  cursor: pointer;
}

#keyboard-icon:hover,
#search-icon:hover,
#mic-icon:hover {
  opacity: 1;
}

#search-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8%;
  background-color: #313131;
  border-radius: 0 5px 5px 0;
}

#search-button img {
  width: 30%;
}

#mic-button {
  margin-left: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mic-icon {
  width: 60%;
}

#profile-pic {
  cursor: pointer;
}

#manage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

#center-logo {
  margin: 100px 0 50px 0;
}

.center-text {
  text-align: center;
}

h1 {
  color: #FFF;
  font-weight: 1;
  text-align: center;
}

p {
  color: #FFF;
}

#manage-button {
  padding: 13px;
  background-color: #3ea6ff;
  border: none;
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  margin: 30px 0px;
}

#features {
  background-color: #000;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.feature-area {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #FFF;
  font-weight: 1;
  font-size: 20px;
  margin-top: 10px;
}

.banner-area {
  height: 550px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-area h3 {
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 5px;
}

.banner-area h4 {
  font-size: 20px;
  font-weight: lighter;
}

#background-play {
  background-image: url(https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story1_personblackglove_desktop_2880x1620.jpg);
  background-size: cover;
}

.left-text {
  padding-left: 200px;
}

.left-text h3 {
  text-align: left;
}

.left-text h4 {
  text-align: left;
}

.right-text {
  padding-right: 200px;
}

.right-text h3,
h4 {
  text-align: right;
}

.blank {
  height: 25px;
  background-color: #000;
}

#no-ads {
  background-image: url(https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story1_adfreetxtright_desktop_2880x1620.jpg);
  background-size: cover;
}

#download-songs {
  background-image: url(https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_story3_manandtrain_desktop_2880x1620.jpg);
  background-size: cover;
}